@import url(http://fonts.googleapis.com/css?family=Tienne:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Montserrat|Lusitana);
/* Overrides, Design, Theme */
/*Colors*/
/*Sticky*/
/*Alternate*/
/*Monochrome*/
/* Override to resolve Font-Awesome and RevealJS styling on icon- */
i[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal; }

/*Default RevealJS scales images too large for GitHub theme*/
.reveal img, .reveal iframe {
  max-height: 77%; }

/* Background Watermark */
body::before {
  content: "";
  -webkit-mask-box-image: url(../branding/hydeslides.png) 100% 100% 0 0;
  background: #613132;
  position: absolute;
  opacity: .05;
  height: 100%;
  width: 90%;
  margin-top: 5%; }

/* Authorship/Info footer*/
body::after {
  content: "HydeSlides by Jordan McCullough";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5000;
  height: 1em;
  width: 100%;
  text-align: center;
  color: #de5053;
  font-size: .3em;
  padding-top: .5em;
  padding-bottom: .5em;
  opacity: .4; }

/* Optional RevealJS Override for Hyphenation (where supported) */
/*
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	        hyphens: none;

	word-break: none;
	word-break: none;
}
*/
/* No HydeSlides layouts defined yet */
.strike-out {
  text-decoration: line-through;
  color: #f10000; }

.good {
  color: #009e0f; }

.warn {
  color: #f27800; }

.danger {
  color: #f10000; }

.reveal .sticky {
  font-family: "Coming Soon";
  background: #fffab4;
  box-shadow: 1px 1px 0.09em #232322, 0px -1px 0.15em #e1e1e1, inset 0 0 3em #e5cd62;
  border-radius: 5em 10em 0.25em 1.5em/0.25em 0.25em 1em 0.25em;
  width: 50%;
  margin: 0 auto;
  padding: 1em 1em 1em 1em;
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffab4), color-stop(100%, #fff799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fffab4 0%, #fff799 100%);
  /* W3C */
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.reveal .sticky i[class^="icon-"] {
  font-size: 5em;
  display: block;
  line-height: 1.2em; }

.reveal .sticky h1 {
  font-size: 2.2em;
  font-weight: 600;
  color: #9e7300;
  text-shadow: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.reveal .sticky h2 {
  font-size: 1.3em;
  color: #9e7300;
  text-shadow: none; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  font-family: "Tienne", serif;
  font-size: 38px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #232322;
  background: #f1f1f1;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f1f1f1 7%, #e1e1e1 85%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%, #f1f1f1), color-stop(85%, #e1e1e1));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f1f1f1 7%, #e1e1e1 85%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f1f1f1 7%, #e1e1e1 85%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f1f1f1 7%, #e1e1e1 85%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f1f1f1 7%, #e1e1e1 85%);
  /* W3C */ }

.reveal section img.diagram {
  /* No Op*/
  border: none;
  box-shadow: none; }

::selection {
  color: #232322;
  background: #fff799;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 0 0;
  line-height: 0.9em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  font-family: "Tienne", serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: -.05em;
  color: #232322;
  text-shadow: 2px 2px 3px #333333, -1px 2px 0 #e1e1e1, 0 3px 0 #333333, 0 2px 0 #e1e1e1;
  /*border-top: solid 2px $color-light;
  border-bottom: solid 2px $color-light;*/ }

.reveal h2 {
  font-size: 1.8em;
  font-family: "Tienne", serif;
  color: #4c0909;
  text-shadow: 0 0 2px #f1f1f1;
  margin: auto auto 0.5em auto; }

h1 + h2::before {
  content: '';
  border-top: solid 2px #4c0909;
  height: .25em;
  margin-top: .15em;
  width: 100%;
  display: block; }

.reveal h3 {
  font-size: 1.2em;
  color: #333333;
  font-weight: normal; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #232322;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:not(.image):hover {
  color: #613132;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #613132; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 0 8px #f1f1f1, 0 0 0 9px #4c0909, 0 0 17px 5px #4c0909;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.reveal a:hover img {
  background: #e1e1e1;
  border-color: #e4c7c7;
  box-shadow: 0 0 20px #333333; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #4c0909; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #4c0909; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #4c0909; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #4c0909; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #4c0909; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #4c0909; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #4c0909; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #4c0909; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: #4c0909; }

.reveal .progress span {
  background: #de5053;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.t-of-c {
  font-size: .5em;
  width: 20%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  z-index: 10000;
  right: 0; }

.t-of-c a {
  text-decoration: none;
  color: #232322; }

.t-of-c ul {
  margin: 0 0 0.25em 0;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
  list-style-type: none; }

.t-of-c ul ul {
  margin-left: .5em; }

.toggle-switch {
  position: relative;
  width: 100%;
  margin-top: .5em; }

.toggle-switch label {
  position: absolute;
  right: .5em;
  display: block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  background: #333333;
  /*margin: auto auto;*/
  text-align: center;
  border-radius: .185em; }

.toggle-switch label span {
  display: block;
  width: 1em;
  height: 1em;
  transition: all 2s;
  -webkit-transition: margin 300ms; }

.toggle-switch label span {
  font-size: .5em;
  padding: .5em;
  text-align: center; }

.toggle-switch label span:nth-child(1) {
  color: #e1e1e1; }

.toggle-switch label span:nth-child(2) {
  color: #f1f1f1; }

.toggle-switch input:checked ~ label {
  background: #232322;
  color: #f1f1f1; }

.toggle-switch input:checked ~ label span:nth-child(1) {
  margin-top: -2em; }

.mobi-menu {
  visibility: hidden;
  z-index: 10000;
  left: 0;
  margin-top: 1em;
  width: 100%;
  height: 0;
  background: #fff;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 3em 2em 2em white; }

.toggle-switch input:checked ~ .mobi-menu {
  visibility: visible;
  position: absolute;
  background: #fff;
  height: auto; }

.mobi-menu li {
  width: 100%; }

.toggle-switch input {
  display: none;
  margin: 0;
  padding: 0; }

.reveal .brand {
  background: url(../branding/hydeslides.png) no-repeat center;
  background-size: contain;
  height: 6em;
  width: 98%;
  opacity: .85;
  margin: auto auto 1em auto;
  -webkit-transition: background 2s;
  -moz-transition: background 2s;
  transition: background 2s; }

/*Chapter Identifier Headers for Sub-Sections*/
.reveal .chapter-banner {
  background: #de5053;
  width: 50%;
  margin: 0 auto 0.5em auto;
  color: #f1f1f1;
  text-transform: uppercase; }

.reveal .chapter-banner::before {
  content: '';
  display: inline-block;
  float: left;
  border-color: #de5053 #de5053 #de5053 transparent;
  border-style: solid;
  border-width: 18px 14px 18px 12px;
  width: 0;
  height: 0;
  margin-left: -20px;
  margin-top: 5px; }

.reveal .chapter-banner::after {
  content: '';
  display: inline-block;
  float: right;
  border-color: #de5053 transparent #de5053 #de5053;
  border-style: solid;
  border-width: 18px 14px 18px 12px;
  width: 0;
  height: 0;
  margin-right: -20px;
  margin-top: 5px; }

/*Stage Building Diagrams*/
.diagram-group {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background: #f1f1f1;
  box-shadow: 10px 0 0 0 #f1f1f1, -10px 0 0 0 #f1f1f1, 0 0 30px #333333;
  border-radius: .5em;
  overflow: hidden; }

.reveal section .fragment.diagram {
  background: #f1f1f1;
  max-height: 100%; }

.reveal section .fragment.diagram:nth-child(n+2) {
  display: none; }

.reveal section .fragment.diagram.visible:nth-child(n+2) {
  display: block;
  top: 0;
  position: absolute; }
